@import "tailwindcss";
/* index.css or App.css */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.event-card {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.event-image {
  border-radius: 12px;
  max-height: 400px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

.image-wrapper:hover .event-image {
  transform: scale(1.03);
}
